.vscode
__pycache__/
Pipfile
*.pyc
*.db
*.sqlite
PPYM.sqlite
bookshelf.db
app.yaml
tox.ini
doc/
tests/
sqlite3.*
intWeb/static/
intWeb/initDB.*
flask-sqlalchemy/
initDB__.py
initDB.py
.ipynb_checkpoints/


