{#
  # Copyright 2020 Inc.
  #}
  
  {% extends "applyform/base.html" %}
  
  {% block content %}
  <style>
    td {padding-right: 5px;padding-left: 5px;}
  </style>
  {% if session.profile and session.profile.Role == "1" %}
  {% endif %}
  <div>開放日，分為5個時段開放參觀。</div>
  {% for limit in limits %}
  <div class="media">
    {% if limit > count_grp[loop.index] %}
    <a href="/applyform/{{loop.index}}/add">
      <div class="media-left">
        <img style="max-width:100px;width:100px" src="/static/images/report1.png">
      </div>
      <div class="media-body">
        <h4>時段 {{loop.index | safe}}</h4>
        <p>   {{count_grp[loop.index]}} / {{limit}} </p>
      </div>
    </a>
    {% else %}
    <div class="media-left">
      <img style="max-width:100px;width:100px" src="/static/images/report1.png">
    </div>
    <div class="media-body">
      <h4>時段 {{loop.index | safe}}</h4>
      <p>   {{count_grp[loop.index]}} / {{limit}} </p>
    </div>
    {% endif %}
  </div>
  {% else %}
  <p>No found</p>
  {% endfor %}
  
  {% if next_page_token %}
  <nav>
    <ul class="pager">
      <li><a href="?page_token={{next_page_token}}">More</a></li>
    </ul>
  </nav>
  {% endif %}
  
  {% endblock %}
  