{#
# Copyright 2015 Inc.
#}

{% extends "applyform/base.html" %}

{% block content %}


<script>
//<script src="/static/javascripts/JsBarcode.all.min.js" />  
// By using querySelector
//<svg id="barcode"></svg>
//JsBarcode("#barcode", "ACC{{book.acno}}", {
//  format: "CODE39",
// // mod43: true
// height: 50
//});

// or by passing an element variable
//var element = document.getElementById("barcode");
// or jqeuery
//JsBarcode(element, "Hi!");
//$("#barcode").JsBarcode("Hi!");

//<img src="/EsAsset/qrcode?data={{book.acno}}">
</script>

  

<style>
  th{min-width: 100px;}
  td {
    padding-right: 5px;
    padding-left: 5px;
  }
</style>
<h4>{{book.id}} {{book.acc}}</h4>
<div style="display:none">
<img src='{{qrcode(book.acno, error_correction="H", icon_img="images/favicon.ico",border=2,box_size=4,back_color="white", fill_color="black" )}}'>
</div>

  <div class="media-body">
    <p>預約成功!</p>
    <p>申請人:{{book.apply_name | safe}}</p>
    <p>出席人數:{{book.attendance | safe}}</p>
    <p>携帶出席人:{{book.name1 | safe}}</p>
    <p>携帶出席人{{book.name2 | safe}}</p>
    <p>出席時段{{book.time_period | safe}}</p>
    
    <div>請保留 QRCODE 截圖,作入場掃碼。 </div>
    <img src="qrcode?data={{qrcode_txt}}">
    <div>查詢碼</div>
    <div>{{qrcode_txt}}</div>
  </div>
  



{% endblock %}